.app {
  display: grid;
  place-items: center;
  background: #009788;
  height: 16vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  border-radius: 3px;
  margin-top: 19px;
  margin-bottom: 19px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}